

body{
    background-color:#fbf9f4;
}
nav{
    background-color:white;
}
.content-in {
   margin-top: 5%;
   padding: 5%;
}


#navbarResponsive{
    font-size: 1.0em;
    padding-right: 15%;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
   text-transform: uppercase;
   
}
.nav a{
    color: black;
    font-size: 1.05em;
    padding-left: 5em;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
   text-transform: uppercase;
}
.navbar-nav{
    padding-bottom: 1.5%;
    border-bottom: solid 2px rgb(225, 61, 61);
}
.nav #navbarResponsive ul li a:hover{
    color: rgb(207, 32, 32);   
}


.nav .navbar-brand:hover{
    color: rgb(207, 32, 32);  
}

.pro-name h2{
    color: rgb(31, 30, 30);
    font-size: 1.55em;
    font-weight: 350;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0 10px;
}
.image{
    width: 100%;
}
.pro-name h4 a{
    color: rgb(207, 32, 32);  
}
.pro-name h4{
    color: rgb(170, 167, 167);
    font-size: 1.00em;
    font-weight: 300;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0 10px;
}
a{
    color: rgb(225, 61, 61);
}
a:hover{
    color: rgb(225, 61, 61);
}
/*profile*/
#profile{
    text-align: center;
    position: relative;
    padding: 30px 10px;

}
.portrait{
    border-radius: 50%;
}
/*body paragraph*/
p{
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(110, 106, 106);
    font-size: 1.00em; 
}
p a{
    color: rgb(225, 61, 61);
}
p a:hover{
    color: rgb(225, 61, 61);
}
.row .drop h4{
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(110, 106, 106);
    font-size: 1.3em; 

}
.row .drop ul{
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(110, 106, 106);
    font-size: .91em; 
    font-weight: 300;
}
.row .drop dt{
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(102, 102, 102);
    font-size: 1.01em; 
    font-weight: 350;

}
.row .drop dd{
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(155, 153, 153);
    font-size: .9em; 

}
#lately{
    
    color: rgb(94, 92, 92);
    font-size: 1.85em;
    font-weight: 350;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5%;
}
.sec-blur{
    padding-top: 5%;
}
.blured p{
    text-transform: uppercase;
    color: rgb(189, 184, 184);
    font-size: 1.20em;
    
    font-weight: 480;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.head-title a{
    color: rgb(48, 48, 48);
    font-size: .60em;
    font-weight: 450;
    text-transform: capitalize;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.head-title a:hover{
    color: rgb(225, 61, 61);
    text-decoration: none;
}
.see-post{
   
   text-transform: uppercase;
   font-size: .90em;
   font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 450;
}
.see-post a{
    color: rgb(225, 61, 61);
}
.see-post a:hover{
    color: rgb(225, 61, 61);
}
.date{
    color: rgb(182, 182, 182);
    font-size: .96em;
    font-weight: 400;
}
.carousel .carousel-inner .carousel-item img{
    width: 100%;
    height: 325px;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) ;
}
.carousel .carousel-inner .carousel-item h1{
    padding-top: 2%;
    text-transform: Capitalize;
    font-size: 2.69em;
    font-family: Arapey,sans-serif;
    font-weight: 200;
    line-height: 1;
}
.carousel .carousel-inner .carousel-item p{
    padding-top: 2%;
    color: white;
    margin: 0 auto 0 auto;
    font-size: 1.50em;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
.carousel .carousel-inner .carousel-item p a{
    color: rgb(225, 61, 61);
    font-style: italic;
}
/* About me page*/
#about-pic{
    margin-top: 6%;
}
#about-pic h1{
    color: #fbf9f4;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.anim-section{
    animation: intro .3s both;
    animation-delay: .15s;
}
#about{
    margin: 0 13% 0 13% ;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-bottom: solid 1px rgb(225, 61, 61);
}
#about .image{
    width: 40%;
    margin-left: 30%;
}
.part-experience{
    margin: 0 13% 0 13% ;
    padding-top: 3%;
    padding-bottom: 5%;
    
}
.part-experience .col .border-right{
   
    border-color: rgb(225, 61, 61);
}
.exp-head h1{
    padding-left: 5em;
    font-size: 1.97em;
    font-weight: 350;
    margin: 0 0 10px;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.detail-exp{
    font-size: .8em;
    color: rgb(173, 173, 173);
}
.exp-inside a{
    font-size: .62em;
    color: rgb(78, 77, 77);
    font-weight: 200;
}
.exp-date{
    font-size: .80em;
    color: rgb(156, 156, 156);
    font-weight: 300;
}
.card{
    width: 20em;
}
.card:hover{
    transform: scale(1.01);
    transition-duration: .2s;
    filter: grayscale(50%);
    box-shadow: rgb(78, 77, 77) ;
}


.exp-fill{
    background-color: rgb(225, 61, 61);
}
.border-right{
    border-color: rgb(225, 61, 61);
}
.get-touch{
    padding: 7%;
}
.contact{
    padding-top: 4%;
    /*padding-bottom: 34%;*/
}
.contact ul li{
    padding: 2%;
}
.forms{
    width: 30em;
}
.mini {
    text-align: left;
    margin-left: 8rem;
    margin-right: 0.7rem;
    padding-right: 0.5rem;
    padding-bottom: 8%;
    border-bottom: 1px solid rgb(225, 61, 61);
}
.contact .container .btun{
    padding: 50%;
    font-size: .84em;
    font-style: italic;
    color: rgb(225, 61, 61);
    border: 1px solid rgb(225, 61, 61);
    height: 2em;
    background-color: white;
}
.contact .container .btun:hover{
    border-color:  rgb(225, 61, 61);
    color:  rgb(245, 244, 244);
    background-color: rgb(225, 61, 61);
}
.contact .container .btm-border{
    margin-left: 25%;
    margin-right: 25%;
    border-top: solid 1px rgb(225, 61, 61);
    padding-bottom: 34%;
}
.contact .container .fa-lu li a{
    color: rgb(225, 61, 61);
}
.contact .container .fa-lu li a:hover{
    color: rgb(225, 61, 61);
}
/*galery*/
.gallery{
    
    padding: 8% 10% 10% 10%;

}

.inside-gall{
  
    color: white;
    padding-bottom: 3%;
}
.effect{
    text-overflow: ellipsis;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    transition: all 0.2s ease-out 0.1s;
    margin-bottom: 3%;
    border-radius: 2%;
}
.gallery-title{
    text-align: center;
    font-size: 1.97em;
    font-weight: 300;
    color: rgb(51, 51, 51);
    font-family:  Arapey, sans-serif;
}

.inside-gall .btn{
    background-color: rgb(225, 61, 61) !important;
    border-color:rgb(225, 61, 61) ;
    font-size: .4em;
    border-radius: 0%;
    font-style: italic;
    font-family: Arapey, sans-serif;
}
.inside-gall .btn .active{
    border-color:rgb(225, 61, 61) ;
}
.gallery a img{
   
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
     
}
.gallery a:hover{
    
    text-decoration: underline;
    color: rgb(31, 30, 30);
    opacity: .3;
    transition: color 0.6s ease 0s;
  
}
.caption-title{
    font-size: .92em;
    color: black;
    font-weight: 500;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.second-caption{
    font-size: .86em;
    color: rgb(172, 171, 171);
    font-weight: 400;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
/*footer*/
.site-footer{
    margin-top: 5%;
}
.fixed-bottom .container-fluid .row .text-white{
    font-size: .99em;
    
    font-weight: 400;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.fixed-bottom .container-fluid .row .got-btn a{
    background-color: white;
    color: black;
    border-color: white;
    width: 120px;
    margin-right: 1%;
}
.content-in .container-fluid .row .dory-name h2{
    font-size: 1.555em;
    color: rgb(51, 49, 49);;
    font-weight: 400;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.content-in .container-fluid .description{
    padding-top: 5%;
}.content-in .container-fluid .row .img-check{
    margin-right: 2%;
}
/* Styles for wrapping the search box */

.main {
    width: 100%;
    margin: 20px auto;
}

/* Bootstrap 4 text input with search icon */
.search{
    background-color: rgb(245, 244, 244);
}
.search-area{
    margin-top: 7%;
    margin-left: 3%;
}
.search-text h1{
    font-size: 2em;
    color: rgb(51, 49, 49);;
    font-weight: 300;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.sign a i{
    padding-left: 90%;
    font-size: 2rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.search-area .main .input-group input{
   border-radius: 10em;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}